body{
 font-weight: 400 !important;
 font-family: 'Roboto', sans-serif;
  }
  .bg-inverse {
    color: #fff!important;
    background-color: #373a3c!important;
}
a{
  color:#333333;
}
#header{
padding-top: 0px;
padding-bottom: 10px;
background-color: #333333;
color:#fff;
font-family: 'Roboto', sans-serif;

}
#brand{
  color: #B89B3E;
  font-size: 1.3em;
 font-weight: 100;
  letter-spacing: 0.05em;
  text-align: center;
}
#brand2{
  color: #B89B3E;
  font-size: 1.3em;
 font-weight: 100;
  letter-spacing: 0.05em;
}
#search{
  display: flex;
}
.search {
  width: 100%;
  margin: 0;
  padding: 0;
}

.searchTerm {
  width:100%;
  padding: 5px;
  height: 41px;
  border:0px;
  border-radius: 2px 0 0 2px;
  outline: none;
}
.searchTerm:focus{
  color: #B89B3E;
}
.searchButton {
  width: 51px;
  height: 41px;
  border:0px;
  background: #B89B3E;
  text-align: center;
  color: #000;
  border-radius: 0 2px 2px 0;
  cursor: pointer;
  font-size: 15px;
}
#contacts{
  padding-left: 50px;
}

.cart-text{
  position: absolute;
  top:0px;
  left:50px;
}
.top-menu{
  text-align: justify;
  font-size: 0.7em;
  margin-top:10px;
  margin-bottom:10px;
}
#header a{
  color:#fff;
}
#top-menu-2{
    margin-left: 20px;
    padding-left: 30px;
    display: flex;
}
#top-menu-1{
    padding-left: 15px;
    padding-right: 15px;
}
.counter{
    display: block;
    height: 14px;
    width: 14px;
    line-height: 14px;
    margin-left: 3px;
    margin-right: 30px;
    text-align: right;
    -moz-border-radius: 7px; /* or 50% */
    border-radius:7px; /* or 50% */

    background-color: #848484;
    color: white;
    padding-top: 1px;
    padding-bottom: 1px;
    text-align: center;
}
#top-menu-2 a{margin-left: 5px;}
#cart-count{
  position: absolute;
  left:25px;
  font-size: 0.7em;
  z-index: 998;
}
.navbar-light .navbar-nav .nav-link{
  color:#333333;
  font-size: 1.2em;
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: normal !important;

}
#card-svg{
  fill:white;
}
#main-menu{
  padding: 0;
  margin: 0;
  width: 100%;
  -webkit-box-shadow: 0px 3px 10px 0px rgba(50, 50, 50, 0.26);
-moz-box-shadow:    0px 3px 10px 0px rgba(50, 50, 50, 0.26);
box-shadow:         0px 3px 10px 0px rgba(50, 50, 50, 0.26);
}
#main-menu a{
  padding-bottom: 5px;
  margin: 5px;
  margin-top: -5px;
  font-size: 0.75em;
}
#main-menu a:hover{
  color:#B89B3E;
}

.dropdown-item:hover{
  background-color: transparent;
}
#about-comp{
  padding-top: 10px;
  margin-top: 10px;
  border-top: 1px solid #333;
  font-size: 110%;
  font-weight:bolder !important;
  display: none;
}
.about-comp-text{
  padding: 10px;

  font-size: 80%;
  font-weight:normal !important;
}
#header a:hover{
   color:#B89B3E;
   text-decoration: none;
 }
body a:hover{
    color:#B89B3E;
    text-decoration: none;
  }
#bunner{
  position: relative;
}
#bunner-title1{
  position: absolute;
  color: #B89B3E;
  /* Gold Filled */

left: 6.5%;
right: 78.8%;
top: 34.46%;
bottom: 56.41%;
width: 50%;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: bold !important;
font-size: 36px;
line-height: 42px;

}
#bunner-title2{
  /* Больше чем просто золото */

position: absolute;
left: 6.41%;
right: 55.72%;
top: 47.72%;
bottom: 43.15%;
width: 70%;
font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 100;
 letter-spacing: 0.05em;
font-size: 1.7em;
line-height: 42px;

color: #FFFFFF;
}
#zoloto{

border-bottom: 1px solid #B89B3E;

}
.item{
  padding: 0;
  width:100%;
   margin:0;
   z-index: -1;
}
.item:hover{
  background-color:red;

 }
.item-label{
  text-align: center;
  padding-top:20px;
  padding-bottom: 20px;
  font-size: 0.8em;
}
ul{
  margin: 0;
  padding:0;
  padding-top: 15px;
    text-align: left;
    font-size: 0.9em;
   font-weight: 100;
    letter-spacing: 0.05em;
}
li{
  text-align: left;
  list-style-type: none;
}
#footer{
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: 1px solid #E1E1E1;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8em;
}
#left{
  text-align: left;

}
#right{
text-align:right;

}
#footer-bottom{
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 0.7em;
  background-color: #000000;
  color:#C4C4C4;
}
.item-div{
  position: relative;
  width: 100%;
}
.filter{
  position: absolute;
  width: 100%;
  height:100%;
  text-align: center;
  color: #fff;
}
.filter  div{
  width: 90%;
  height:90%;
  position: absolute;
   top: 5%;
   left: 5%;
   display: flex;
  align-items: center;
  justify-content: center ;

  border: 1px solid #c4c4c4;

  visibility: hidden;
}
.filter:hover{
  z-index: 1;
  background-color: rgba(214, 38, 25, 0.5);

}
.filter:hover div{visibility: visible;}
#items >> div{
 padding: 5px;
}
.coll-sm-12, .col-xs-12{
  padding: 0;
}
.cart{
  position: absolute;
  top: 5px;
}
#search-mobile{
  display: none;
  visibility: hidden;
}

.footer-items a{
color: #686868;

}

.footer-text ul li{
  margin: 5px;
margin-left: 0;
margin-right: 0;
}
.footer-items {color: #686868;font-weight: 400 !important; font-size: 9px;}
.footer-contacts{  margin-left:-20px;}
.footer-subscribe{
  margin-left:-20px;}
.footer-images svg{
  margin: 2px;
}
.footer-images {
  margin-top: 10px

}


















@media (max-width: 900px) {
#about-comp{display: block;}
  #bunner-title1{
    /* Gold Filled */

position: absolute;
left: 3.45%;
right: 75.3%;
top: 35%;
bottom: 92.55%;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 900 !important;
font-size: 1.4em;
line-height: 16px;

color: #B89B3E;


  }
  #bunner-title2{
    /* Больше чем просто золото */

position: absolute;
left: 3.45%;
right: 44.36%;
top: 50%;
bottom: 90.95%;

font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 500 !important;
font-size: 0.75em;
line-height: 15px;

color: #FFFFFF;


  }
  .footer-items

  .navbar-toggler
  {
    /* burger menu */

position: fixed;
width: 17.28px;
height: 10.95px;
left: 11.05px;
top: 11px;

    }#search-mobile{
    display: flex;
  visibility: visible;

position: fixed;
width: 24px;
height: 24px;
left: 50px;
top: 17.41px;


  }
#header{
    background-color: #fff;
        position:fixed;
 z-index: 997;
        margin-bottom: 50px;
        top:0;}

#header-shadow{
      width: 100%;
      height: 20px;
      position: fixed;
      top:40px;
        box-shadow: 0px 10px 8px -8px rgba(50, 50, 50, 0.26);
   background-color: #fff;
      z-index: 998;

  }
  #top{
    height: 0px;
    visibility: hidden;
    display: none;
  }
  .cart-text{
    visibility: hidden;
    display: none;
  }
  #cart{

    color:#333333;
    position:fixed;
    right: 6%;

    top: 5px;
    z-index: 997;
  }
#contacts{
    visibility: hidden;
    display: none;
  }#search{
    visibility: hidden;
    display: none;
  }
  #small-menu{

    position: fixed;
z-index: 997;
      top:10px;
      left:2%;
      width:50px;
  }

#brand{
  /* Gold Filled */


font-family: 'Roboto', sans-serif;
font-style: normal;
font-weight: 200 !important;
padding-top: 8px;
font-size: 21px;
line-height: 25px;
/* identical to box height */

color: #B89B3E;



}

#content{
  margin-top: 80px
}
.navbar-toggler{
  border: none;
  color:#fff;
}
.navbar-collapse{
  background-color: #fff;
  position: fixed;

  width: 70%;
  left: 0;
  top:60px;
}
.footer-text{
    color:#333333;
    font-weight: 400 !important;
  padding:10px;
}
#main-menu a{
  color:#333333;
  margin-left: 15px;

}
#main-menu a:hover{
  color:red;
  }
.dropdown-item:hover{
  background-color: transparent;
  }
.cart{
  margin: 0;
  padding: 0;
  position: fixed;
  left: 88.27%;
  right: 5.68%;
  top: 10px;
  right: 15px;
    z-index: 99;
}/* Vector */


.counter{
margin: 0;
right: 2.2%;
top:10px;
z-index: 998;
position: fixed;
}
.footer-contacts{  padding-left:35px;}
.footer-subscribe{
  padding-left:10px;}
#brand2{
  padding-left: 0px;
}
#footer-map{
  padding-left: 0px;
  margin-left: -10px;
}
.footer-contacts{
  padding-left: 10px;

}
.footer-images {
  padding-left: 10px

}
.footer-text{
font-size:   1.2em;
}
.footer-items{
  font-size: 0.9em;
}
.fa-cc-visa, .fa-cc-mastercard{
padding-right: 8px;
  font-size: 25px;
}
#main-menu a:hover{
  color:red;
  margin-left: 17px;
}
#card-svg{
  fill:#333;
  z-index: 998;
  width: 20px;
  }

}
.shadow {
    background-color: rgba(0,0,0,0.5);
    height: 10000px;
    position: fixed;
    width: 100%;
    top:10px;
    z-index: 990;
}
.dropdown-menu{
  border: none;
}
